<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<%# if session[:badges].any? %>
<!--  <h4> Вы получили награды: </h4>-->
<%#= session[:badges].each do |badge_details|  %>
<%#= image_tag(badge_details[1], class: 'badge-size mr-1')%>
<%#= badge_details[0] %>
  <%# end %>
<%# end %>

<p>
  <span class="<%= @test_passage.successful? ? 'successfull' : 'unsuccessfull' %>">
  <%= @test_passage.success_rate %>
  </span>
  <%= t('.percent_correct') %>
</p>

<p><%= t('.result') %>: <%= @test_passage.successful? ? t('.successfull') : t('.unsuccessfull') %></p>

<%= link_to t('.back'), tests_path %>