<div class="row justify-content-around mt-3">
  <div class="col-6">
    <h2><%= t('.header') %></h2>
    <<%= form_for @feedback do |form| %>
      <div class="form-group">
        <%= form.label :email, t('.email'), class: 'mt-3' %>
        <%= form.text_field :email, class: 'form-control', value: current_user.email %>
        <%= form.label :feedback, t('.feedback'), class: 'mt-3' %>
        <%= form.text_area :feedback, class: 'form-control' %>
        <%= form.submit t('.submit'), class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
</div>