<p>
  <strong> <%= t('.title') %>: </strong>
  <%= @test.title %>
</p>
<p>
  <strong> <%= t('.category') %>: </strong>
  <%= @test.category.name %>
</p>
<p>
  <strong> <%= t('.level') %>: </strong>
  <%= @test.level %>
</p>
<p>
  <strong> <%= t('.author') %>: </strong>
  <%= @test.author.email %>
</p>

<table>
  <tr>
    <th><%= t('.question') %> </th>
    <th colspan="3"><%= t('.action') %></th>
  </tr>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table><br>
<%= link_to t('.add_question'), new_admin_test_question_path(@test.id) %><br><br>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back'), admin_tests_path %>
