<tr>
  <td><%= test.title %></td>
  <td class="d-none d-md-table-cell" ><%= test_level(test) %></td>
  <td><%= test.category %></td>
  <td class="d-none d-md-table-cell" ><%= test.author.email %></td>
  <td class="d-none d-md-table-cell" ><%= test.questions.count %></td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>