<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= t('.header') %></h1>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col" class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col" class="d-none d-md-table-cell"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col" class="d-none d-md-table-cell"><%= t('.author') %></th>
        <th scope="col" class="d-none d-md-table-cell"><%= t('.quest_quantity') %></th>
        <th scope="col"><%= t('.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>