<h1>Tests</h1>
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<p>
<strong> Questions: </strong>
</p>
<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>
  <tr>
    <%= render @test.questions %>
  </tr>
</table><br>
<%= link_to 'Show', question_path %>
<%= link_to 'Delete', question_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_question_path(question_url) %>

<%= link_to 'New question', new_test_question_path(@test) %><br />
<%= link_to 'Edit', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>
